/* ------ UTILITIES : TEXT ------ */

h1, h2, h3, h4, h5, h6 {
  font-family: $headers-font;
  color: $dark-blue;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3.2rem;
}

span, p, input, li, a, button {
  font-size: 1.4rem;
}

p {
  margin: 0.4em 0;
}



@media (min-width: $sm-screen) {
} // end of sm-screen - 768px

@media (min-width: $md-screen) {
} // end of md-screen - 992px

@media (min-width: $lg-screen) {
  h1 {
    font-size: 8.4rem;
  }

  span, p, input, li, a, button {
    font-size: 1.8rem;
  }
} // end of lg-screen - 1200px

@media (min-width: $hg-screen) {
} // end of hg-screen - 1440px
